<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه الماس - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/colors.css">
    <link rel="stylesheet" href="~/css/basic.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/users.css" />
    <link rel="stylesheet" href="~/css/main-responsive.css" />
    <link rel="stylesheet" href="~/css/users-responsive.css" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-box">
                <div class="menu-box">
                    <div class="hamburger" id="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav class="main-nav" id="main-nav">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">خانه</a></li>
                            <li><a asp-controller="Customer" asp-action="Index">مشتری ها</a></li>
                            <li><a asp-controller="Order" asp-action="Index">سفارش ها</a></li>
                            <li><a href="login.html">خروج از حساب</a></li>
                        </ul>
                        <div class="close-box">
                            <button class="close-btn" id="close-btn">&times;</button>
                        </div>
                    </nav>

                </div>
                <div class="logo">
                    <a href="#">فروشگاه الماس</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <script src="~/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/sweet-alert.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
