@{
    ViewData["Title"] = "خانه";
}

<div class="report-container">
    <div class="report-box">
        <h3>
            درامد در 30 روز گذشته</h2>
            <h4>+ 57,800,000 تومان
        </h3>
    </div>
    <div class="report-box">
        <h3>
            درامد خالص در 30 روز گذشته</h2>
            <h4>+ 41,380,000 تومان
        </h3>
    </div>
    <div class="report-box">
        <h3>
            سفارشات در 30 روز گذشته</h2>
            <h4>+ 24 عدد
        </h3>
    </div>
    <div class="report-box">
        <h3>
            مشتری های جدید در 30 روز گذشته</h2>
            <h4>+ 11 عدد
        </h3>
    </div>
</div>