@{
    ViewData["Title"] = "کاربران";
}

<div class="search-container">
    <form action="">
        <div class="search-box">
            <input type="text" placeholder="نام مشتری رو جستجو کنید !">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
<div class="users-container">
    <div class="add-container">
        <a asp-controller="User" asp-action="AddUser">
            افزودن مشتری جدید
            <i class="fa-solid fa-user-plus"></i>
        </a>
    </div>
    <div class="table-container">
        <table class="users-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>شماره تلفن</th>
                    <th>کد ملی</th>
                    <th>مجموع پرداخت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>جمشید جمشیدی</td>
                    <td>09914126512</td>
                    <td>8820386541</td>
                    <td>18,400,000 تومان</td>
                    <td class="action-buttons">
                        <div class="detail-btn">
                            <a asp-controller="User" asp-action="UserDetails" >
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                        <div class="edit-btn">
                            <a asp-controller="User" asp-action="EditUser">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        <div class="delete-btn">
                            <a asp-controller="User" asp-action="DeleteUser" asp-route-userId="8585" onclick="confirmDelete(event, this)">
                                @Html.AntiForgeryToken()
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>جمشید جمشیدی</td>
                    <td>09914126512</td>
                    <td>8820386541</td>
                    <td>18,400,000 تومان</td>
                    <td class="action-buttons">
                        <div class="detail-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                        <div class="edit-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        <div class="delete-btn">
                            <a href="#" onclick="confirmDelete(event, this)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>جمشید جمشیدی</td>
                    <td>09914126512</td>
                    <td>8820386541</td>
                    <td>18,400,000 تومان</td>
                    <td class="action-buttons">
                        <div class="detail-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                        <div class="edit-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        <div class="delete-btn">
                            <a href="#" onclick="confirmDelete(event, this)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>جمشید جمشیدی</td>
                    <td>09914126512</td>
                    <td>8820386541</td>
                    <td>18,400,000 تومان</td>
                    <td class="action-buttons">
                        <div class="detail-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                        <div class="edit-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        <div class="delete-btn">
                            <a href="#" onclick="confirmDelete(event, this)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>جمشید جمشیدی</td>
                    <td>09914126512</td>
                    <td>8820386541</td>
                    <td>18,400,000 تومان</td>
                    <td class="action-buttons">
                        <div class="detail-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                        <div class="edit-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        <div class="delete-btn">
                            <a href="#" onclick="confirmDelete(event, this)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>جمشید جمشیدی</td>
                    <td>09914126512</td>
                    <td>8820386541</td>
                    <td>18,400,000 تومان</td>
                    <td class="action-buttons">
                        <div class="detail-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                        <div class="edit-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        <div class="delete-btn">
                            <a href="#" onclick="confirmDelete(event, this)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>جمشید جمشیدی</td>
                    <td>09914126512</td>
                    <td>8820386541</td>
                    <td>18,400,000 تومان</td>
                    <td class="action-buttons">
                        <div class="detail-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                        <div class="edit-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        <div class="delete-btn">
                            <a href="#" onclick="confirmDelete(event, this)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>جمشید جمشیدی</td>
                    <td>09914126512</td>
                    <td>8820386541</td>
                    <td>18,400,000 تومان</td>
                    <td class="action-buttons">
                        <div class="detail-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                        <div class="edit-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        <div class="delete-btn">
                            <a href="#" onclick="confirmDelete(event, this)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>جمشید جمشیدی</td>
                    <td>09914126512</td>
                    <td>8820386541</td>
                    <td>18,400,000 تومان</td>
                    <td class="action-buttons">
                        <div class="detail-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                        <div class="edit-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        <div class="delete-btn">
                            <a href="#" onclick="confirmDelete(event, this)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>جمشید جمشیدی</td>
                    <td>09914126512</td>
                    <td>8820386541</td>
                    <td>18,400,000 تومان</td>
                    <td class="action-buttons">
                        <div class="detail-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                        <div class="edit-btn">
                            <a asp-controller="User" asp-action="UserDetails">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        <div class="delete-btn">
                            <a href="#" onclick="confirmDelete(event, this)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-container">
        <a href="#">1</a>
        <a href="#" class="active-page">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
    </div>
</div>