@{
    ViewData["Title"] = "ویرایش کاربر";
}

<div class="users-container">
    <div class="add-container">
        <a asp-controller="User" asp-action="Index">
            بازگشت به کاربران
            <i class="fa-solid fa-right-to-bracket"></i>
        </a>
        <div class="form-container">
            <form action="">
                <div class="input-box">
                    <input type="text" value="جمشید جمشیدی" placeholder="نام و نام خانوادگی مشتری">
                </div>
                <div class="input-box">
                    <input type="tel" value="09914126512" placeholder="شماره تلفن همراه مشتری">
                </div>
                <div class="input-box">
                    <input type="tel" value="8820386541" placeholder="کد ملی مشتری">
                </div>
                <div class="submit-box">
                    <button type="submit">ویرایش مشتری</button>
                </div>
            </form>
        </div>
    </div>
</div>