@model AM.Core.DTOs.Customers.EditCustomerDTO
@{
    ViewData["Title"] = "ویرایش کاربر";
}

<div class="users-container">
    <div class="add-container">
        <a asp-controller="Customer" asp-action="Index">
            بازگشت به کاربران
            <i class="fa-solid fa-right-to-bracket"></i>
        </a>
        <div class="form-container">
            <form asp-controller="Customer" asp-action="EditCustomer">
                <input asp-for="CustomerId" type="text" hidden>
                <div class="input-box">
                    <input asp-for="FullName" type="text" placeholder="نام و نام خانوادگی مشتری">
                </div>
                <div class="input-box">
                    <input asp-for="PhoneNumber" type="tel" placeholder="شماره تلفن همراه مشتری">
                </div>
                <div class="input-box">
                    <input asp-for="NationalCode" type="tel" placeholder="کد ملی مشتری">
                </div>
                <div class="submit-box">
                    <button type="submit">ویرایش مشتری</button>
                </div>
            </form>
        </div>
    </div>
</div>